$primary-color: #f3a536;
$secondary-color: #376177;
$fg: #222;
$bg: #f8f8f8;

@mixin scale-push {
	user-select: none;
	text-decoration: none;
	&:hover {
		transform: scale(1.05);
	}
	&:active {
		transform: scale(0.95);
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: $fg;
	background-color: $bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: $secondary-color;
	cursor: pointer;
    @include scale-push;
    display: inline-block;
}

.toolbar {
	display: flex;
	padding: 0.5em;
	gap: 0.5em;
	> div {
		flex: 1 1 auto;
	}
	a {
		background-color: #e8e8e8;
		display: block;
		padding: 0.5em;
		text-align: center;
	}
}


.flex-row {
	display: flex;
	padding: 0.5em;
	gap: 0.5em;
	.stretch {
		flex: 1 1 auto;
		background-color: #dfe;
		padding: 0.5em;
	}
	.shrink {
		flex: 0 0 auto;
		background-color: #def;
		padding: 0.5em;
	}
}

.output {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #dff;
}